{% extends '/email/base.html.twig' %}

{% block title %}
    <h1>Confirmation de réservation</h1>
{% endblock %}
{% block title2 %}
    <h1>Confirmation de réservation</h1>
{% endblock %}


{% block description %}
    <p>Votre réservation est enregistrée.<br/>Merci de voyager avec Flyaround!</p>
{% endblock %}