{% extends '/email/base.html.twig' %}

{% block title %}
    <h1>Notification de réservation</h1>
{% endblock %}
{% block title2 %}
    <h1>Notification de réservation</h1>
{% endblock %}

{% block description %}
    <p>Quelqu'un vient de réserver une place sur votre vol.<br/>Merci de voyager avec Flyaround!</p>
{% endblock %}